body, td, select, input, div, form, textarea { font-family: Tahoma, dotum, arial, verdana; }


.main {font-size:9pt;text-decoration: none; color: #666666;}
.main A{font-size:9pt;text-decoration: none;}
.main A:link{font-size:9pt;text-decoration: none;}
.main A:visited{font-size:9pt;text-decoration: none;}
.main A:hover{font-size:9pt;text-decoration: underline;}

.page {font-size:9pt;color:#336699;text-decoration: none;letter-spacing:3px;}
.page A{font-size:9pt;color:#336699;text-decoration: none;border:1px solid #90b9d2;padding:4px 4px 4px 7px;}
.page A:link{font-size:9pt;color:#336699;text-decoration: none;}
.page A:visited{font-size:9pt;color:#336699;text-decoration: none;}
.page A:hover{font-size:9pt;color:#ffffff;text-decoration: none;background-color:#336699;}

.nv_top {font-size:9pt;color:#ffffff;text-decoration: none;font-weight:bold;text-align:center;}
.nv_top A{font-size:9pt;color:#ffffff;text-decoration: none;font-weight:bold;text-align:center;}
.nv_top A:link{font-size:9pt;color:#ffffff;text-decoration: none;font-weight:bold;text-align:center;}
.nv_top A:visited{font-size:9pt;color:#ffffff;text-decoration: none;font-weight:bold;text-align:center;}
.nv_top A:hover{font-size:9pt;color:#ffffff;text-decoration:underline;font-weight:bold;text-align:center;}

.nv_white{font-size:9pt;color:#ffffff;text-decoration: none;}
.nv_white A{font-size:9pt;color:#ffffff;text-decoration: none;}
.nv_white A:link{font-size:9pt;color:#ffffff;text-decoration: none;}
.nv_white A:visited{font-size:9pt;color:#ffffff;text-decoration: none;}
.nv_white A:hover{font-size:9pt;color:#ffffff;text-decoration:underline;}


.nv {font-size:9pt;color:#666666;text-decoration: none;}
.nv A{font-size:9pt;color:#336699;text-decoration: underline;}
.nv A:link{font-size:9pt;color:#336699;text-decoration: underline;}
.nv A:visited{font-size:9pt;color:#336699;text-decoration: underline;}
.nv A:hover{font-size:9pt;color:#336699;text-decoration:underline;}


.nv_white_bold {font-size:9pt;color:#ffffff;text-decoration: none;text-align:center;padding-top:4px;font-weight:bold;}

.nv_td {font-size:9pt;text-decoration: none;text-align:center;}

.nv_td2 {font-size:9pt;text-decoration: none;text-align:center;height:30px;}

.nv_search {font-size:9pt;color:#666666;text-decoration: none;}
.nv_search A{font-size:9pt;color:#336699;text-decoration: none;}
.nv_search A:link{font-size:9pt;color:#336699;text-decoration: none;}
.nv_search A:visited{font-size:9pt;color:#336699;text-decoration: none;}
.nv_search A:hover{font-size:9pt;color:#336699;text-decoration:underline;}

.h2view {font-family: arial; margin:0 0 0 0;}

.linkurl {color:#008000;font-weight:bold;font-size:9pt;}

.preview {font-size:9pt;text-decoration: none; color: #333333;}
.search_nv {font-size:10pt;color:#2E3192;font-weight:bold;}




.Shortcut  {font-size:9pt;text-decoration: none; color: #666666;}
.Shortcut  A{font-size:10pt;text-decoration: underline;}
.Shortcut  A:link{font-size:10pt;text-decoration: underline;}
.Shortcut  A:visited{font-size:10pt;text-decoration: underline;}
.Shortcut  A:hover{font-size:10pt;text-decoration: underline;}

.c {font-size:9pt;color:#666666;text-decoration: none;text-align:center;}
.c A{font-size:9pt;color:#0000FF;text-decoration: none;}
.c A:link{font-size:9pt;color:#0000FF;text-decoration: none;}
.c A:visited{font-size:9pt;color:#333333;text-decoration: none;}
.c A:hover{font-size:9pt;text-decoration:underline;}


.c1 {background-color:#ffffff;}
.c2 {background-color:#eeeeee;}


.yellow  {font-size:9pt;text-decoration: none; color: #af0000; background-color:#ffd661;text-align:center;padding-top:3px;}

.gray_title  {font-size:9pt;text-decoration: none; color: #000000; background-color:#eeeeee;text-align:center;}




.category_td {border:1px solid #666666;background-color:#e6e6e6;}
.category_no {background-color:#666666;padding:2 6 2 6;color:#ffffff;font-weight:bold;}
.category_also {background-color:#333333;padding:2 6 2 6;color:#ffffff;font-weight:bold;}


.history {font-family:Tahoma;font-size:9pt;color:#005b7f;text-decoration: none;}
.history A{font-family:Tahoma;font-size:9pt;color:#000000;text-decoration: underline;font-weight:bold;}
.history A:link{font-family:Tahoma;font-size:9pt;color:#000000;text-decoration: underline;font-weight:bold;}
.history A:visited{font-family:Tahoma;font-size:9pt;color:#000000;text-decoration: underline;font-weight:bold;}
.history A:hover{font-family:Tahoma;font-size:9pt;color:#ff0000;text-decoration:underline;font-weight:bold;}

.descrip {font-family:Tahoma;font-size:9pt;color:#333333;text-decoration: none;border-left:0px;border:1px solid #8e8e8e;background-color:#eeeeee;}
.descrip A{font-family:Tahoma;font-size:9pt;color:#333333;text-decoration: underline;}
.descrip A:link{font-family:Tahoma;font-size:9pt;color:#333333;text-decoration: underline;}
.descrip A:visited{font-family:Tahoma;font-size:9pt;color:#333333;text-decoration: underline;}
.descrip A:hover{font-family:Tahoma;font-size:9pt;color:#ff0000;text-decoration:underline;}

.descrip2 {font-family:Tahoma;font-size:9pt;color:#333333;text-decoration: none;border-bottom:1px solid #8e8e8e;border-right:1px solid #8e8e8e;
.descrip2 A{font-family:Tahoma;font-size:9pt;color:#0000FF;text-decoration: none;}
.descrip2 A:link{font-family:Tahoma;font-size:9pt;color:#0000ff;text-decoration: none;}
.descrip2 A:visited{font-family:Tahoma;font-size:9pt;color:#0000FF;text-decoration: none;}
.descrip2 A:hover{font-family:Tahoma;font-size:9pt;color:#0000FF;text-decoration:underline;}

.t2{font-size:9pt;color:#ffffff;text-decoration: none;}
.t2 A{font-size:9pt;color:#ffffff;text-decoration: underline;}
.t2 A:link{font-size:9pt;color:#ffffff;text-decoration: underline;}
.t2 A:visited{font-size:9pt;color:#ffffff;text-decoration: underline;}
.t2 A:hover{font-size:9pt;color:#ffffff;text-decoration:underline;}

.t3 {font-size:9pt;color:#0000FF;text-decoration: none;}
.t3 A{font-size:9pt;color:#0000FF;text-decoration: none;}
.t3 A:link{font-size:9pt;color:#333333;text-decoration: none;}
.t3 A:visited{font-size:9pt;color:#333333;text-decoration: none;}
.t3 A:hover{font-size:9pt;color:#0000FF;text-decoration:underline;}

.t4 {font-size:9pt;color:#333333;text-decoration: none;}
.t4 A{font-size:9pt;color:#333333;text-decoration: none;}
.t4 A:link{font-size:9pt;color:#333333;text-decoration: none;}
.t4 A:visited{font-size:9pt;color:#333333;text-decoration: none;}
.t4 A:hover{font-size:9pt;color:#333333;text-decoration:underline;}

.none {font-family:Tahoma;font-size:9pt;color:#333333;text-decoration: none;}
.none A{font-family:Tahoma;font-size:9pt;color:#333333;text-decoration: underline;}
.none A:link{font-family:Tahoma;font-size:9pt;color:#0000FF;text-decoration: underline;}
.none A:visited{font-family:Tahoma;font-size:9pt;color:#0000FF;text-decoration: underline;}
.none A:hover{font-family:Tahoma;font-size:9pt;color:red;text-decoration:underline;}